<!doctype html>
<html>
<head>
    <style>
        body { font-family:Helvetica,Arial,sans-serif; margin:0; }
        .used { height:3em; color:white; line-height:3em; }
        .used p { margin: 0 0 0 .5em; overflow:visible; width:100%; position:absolute; }
        .blue { background-color:blue; }
        .green { background-color:green; }

        .memory { width:{{m.percent|round(1)}}%; }
        .cpu { width:{{c|round(1)}}%; }
    </style>
</head>
<body>

    <div class="blue used cpu">
        <p>CPU {{c|round(1)}}%</p>
    </div>
    <div class="green used memory">
        <p>MEM {{m.percent|round(1)}}%</p>
    </div>

</body>
</html>
