<!doctype html>
<html>
<head>
    <style>
        body { font-family:Helvetica,Arial,sans-serif; margin:0; }
        p { margin: 1em 0 0 .5em }
        .used { height:3em; color:white; line-height:3em; }
        .used p { margin-top:0; overflow:visible; width:100%; position:absolute; }
        .blue { background-color:blue; }
        .green { background-color:green; }

        .memory { width:{{m.percent|round(1)}}%; }
        .cpu { width:{{c|round(1)}}%; }
    </style>
</head>
<body>

    <div class="blue used cpu">
        <p>CPU {{c|round(1)}}%</p>
    </div>
    <div class="green used memory">
        <p>MEM {{m.percent|round(1)}}%</p>
    </div>

    <p>up for {{uptime}}</p>

</body>
</html>
